<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body class="home-body">
    <div class="container-fluid">
        <% include ../partials/nav %>
            <div class="home-background">
                <div class="home-content">
                    <div class="home-header">
                        <h1 class="display-4">Edit Entry</h1>
                    </div>
                    <div class="form-content">
                        <div class="form-entries-container">
                            <form action="/entries/<%=currentEntry.id%>?_method=PUT" method="POST">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input class="form-control" id="title" type="text" name="title" value="<%=currentEntry.title%>">
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea class="form-control" name="description" id="description" cols="30" rows="10"><%=currentEntry.description%></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="img">Image URLs</label>
                                    <input class="form-control" type="text" name="img" value="<%=currentEntry.img[0]%>">
                                    <input class="form-control" type="text" name="img" value="<%=currentEntry.img[1]%>">
                                    <input class="form-control" type="text" name="img" value="<%=currentEntry.img[2]%>">
                                    <input class="form-control" type="text" name="img" value="<%=currentEntry.img[3]%>">
                                    <input class="form-control" type="text" name="img" value="<%=currentEntry.img[4]%>">
                                    <input class="form-control" type="text" name="img" value="<%=currentEntry.img[5]%>">
                                </div>
                                <input type="submit" class="btn btn-primary">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <% include ../partials/script %>
</body>

</html>