<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="container-fluid">
        <!-- Include Navigation -->
        <% include ../partials/nav %>

        <div class="entry-show-container">
            <div class="entry-img-container">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <% for(let i =0; i < currentEntry.img.length; i++) { %>
                            <% if (i==0) { %>
                                 <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"> </li>
                            <% } else { %>
                                <li data-target="#carouselExampleIndicators" data-slide-to="<%=i%>"></li>
                            <% } %>
                        <% } %>
                    </ol>
                    <div class="carousel-inner">
                        <% for(let i=0; i< currentEntry.img.length; i++) { %>
                            <% if (i === 0) { %>
                                <div class="carousel-item active">
                                    <img class="d-block w-100 entry-img" src="<%=currentEntry.img[i]%>" alt="slide <%=i%>">
                                </div>
                            <% } else { %>
                                <div class="carousel-item">
                                    <img class="d-block w-100 entry-img" src="<%=currentEntry.img[i]%>" alt="slide <%=i%>">
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="entry-content-container">
                <% if (currentEntry) { %>
                    <h1 class="display-4">
                        <%=currentEntry.title%>
                    </h1>
                    <p class="lead"><%=currentEntry.description%></p>
                <% } %>
            </div>
        </div>

        <div>

        <% if (currentUser && !owner) { %>
            <% if (!favorite) { %>
                <a href="/entries/<%=currentEntry._id%>/favorite">Add Favorite</a>
            <% } else { %>
                <form action="/entries/<%=currentEntry._id%>/favorite?_method=DELETE" method="POST">
                    <input type="submit" value="Remove Favorite">
                </form>
            <% } %>
        <% } %>

        <% if (owner) { %>
            <a href="/entries/<%=currentEntry._id%>/edit">Edit Entry</a>
            <form action="/entries/<%=currentEntry._id%>?_method=DELETE" method="POST">
                <input type="submit" value="Remove Entry" onclick="return confirm('Are you sure?')">
            </form>
        <% } %>

        <% if (currentEntry) { %>
            <ul>
                <li>
                    <%=currentEntry.description%>
                </li>
                <li>
                    <%=currentEntry.category%>
                </li>
                <li>
                    <%=currentEntry.flavors%>
                </li>
                <li>
                    <%=currentEntry.img%>
                </li>
            </ul>
            <% for(let i=0; i < currentEntry.messages.length; i++) { %>
                <div>
                    <p><%=currentEntry.messages[i].message%></p>
                    Posted by: <%=currentEntry.messages[i].author.username%><br>
                    On: <%=currentEntry.messages[i].date%>
                </div>
            <% } %>

            <% if (currentUser) { %>
                <form action="/entries/<%=currentEntry._id%>/message" method="POST">
                    <textarea name="message" id="message" cols="30" rows="10"></textarea>
                    <input type="submit" value="Post Comment">
                </form>
            <% } %>
        <% } else { %>
            Couldn't find entry
        <% } %>

        </div>
    </div>
    <% include ../partials/script %>
</body>

</html>