<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <% if (currentEntry) { %>
        <h1>
            <%=currentEntry.title%>
        </h1>
    <% } %>

    <div class="header-nav">
        <ul>
            <% if (currentUser) { %>
                <form action="/sessions?_method=DELETE" method="POST">
                    <input type="submit" value="Logout">
                </form>
                <% } else { %>
                    <li>
                        <a href="/sessions/new">Login</a>
                    </li>
                    <% } %>
        </ul>
    </div>
    <div>

    <% if (currentUser) { %>
        You are logged in as <%=currentUser.username %>
    <% } else { %>
        You are not logged in
    <% } %>

    <% if (currentUser && !owner) { %>
        <% if (!favorite) { %>
            <a href="/entries/<%=currentEntry._id%>/favorite">Add Favorite</a>
        <% } else { %>
            <form action="/entries/<%=currentEntry._id%>/favorite?_method=DELETE" method="POST">
                <input type="submit" value="Remove Favorite">
            </form>
        <% } %>
    <% } %>

    <% if (owner) { %>
        <a href="/entries/<%=currentEntry._id%>/edit">Edit Entry</a>
        <form action="/entries/<%=currentEntry._id%>?_method=DELETE" method="POST">
            <input type="submit" value="Remove Entry" onclick="return confirm('Are you sure?')">
        </form>
    <% } %>

    <% if (currentEntry) { %>
        <ul>
            <li>
                <%=currentEntry.description%>
            </li>
            <li>
                <%=currentEntry.category%>
            </li>
            <li>
                <%=currentEntry.flavors%>
            </li>
            <li>
                <%=currentEntry.img%>
            </li>
        </ul>
        <% for(let i=0; i < currentEntry.messages.length; i++) { %>
            <div>
                <p><%=currentEntry.messages[i].message%></p>
                Posted by: <%=currentEntry.messages[i].author.username%><br>
                On: <%=currentEntry.messages[i].date%>
            </div>
        <% } %>

        <% if (currentUser) { %>
            <form action="/entries/<%=currentEntry._id%>/message" method="POST">
                <textarea name="message" id="message" cols="30" rows="10"></textarea>
                <input type="submit" value="Post Comment">
            </form>
        <% } %>
    <% } else { %>
        Couldn't find entry
    <% } %>

    </div>
    <% include ../partials/script %>
</body>

</html>