<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="container-fluid">

        <!-- Navigation -->
        <% include ../partials/nav %>

        <!-- Header portion -->
        <div class="user-header">
            <img src="<%=user.img%>" alt="">
            <h3><%=user.username%></h3>
        </div>

        <!-- Controls for page owner -->
        <% if (owner) { %>
            <div class="user-admin-nav">
                <ul>
                    <li>
                        <a class="btn btn-outline-secondary btn-sm" href="/users/<%=currentUser.username%>/edit">Edit Profile</a>
                    </li>
                    <li>
                        <a class="btn btn-outline-secondary btn-sm" href="/entries/new">Create an entry</a>
                    </li>
                </ul>
            </div>
        <% } %>
        
        <!-- Entries section -->
        <div class="entries-container">
            <% if (userEntries) { %>
                <% for(let i=0; i < userEntries.length; i++) { %>
                    <div class="entry-preview">
                        <a href="/entries/<%=userEntries[i]._id%>">
                            <img src="<%=userEntries[i].img[0]%>" alt="">
                            <div class="enter-preview-info"> 
                                <%=userEntries[i].title%>
                            </div>
                        </a>
                    </div>
                <% } %>
            <% } %>
        </div>
    </div>
    <% include ../partials/script %>
</body>
</html>