<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="container-fluid">

        <!-- Navigation -->
        <% include ../partials/nav %>

        <!-- Header portion -->
        <div class="user-header">
            <img src="<%=user.img%>" alt="">
            <h3><%=user.username%></h3>
        </div>

        <!-- Controls for page owner -->
        <% if (owner) { %>
            <div class="user-admin-nav">
                <ul>
                    <li>
                        <a class="btn btn-primary btn-sm" href="/users/<%=currentUser.username%>/edit">Edit Profile</a>
                    </li>
                    <li>
                        <a class="btn btn-primary btn-sm" href="/entries/new">Create an entry</a>
                    </li>
                </ul>
            </div>
        <% } %>
        
        <!-- Entries section -->
        <div class="user-section-heading">
            <h2 class="display-4 feature-heading">My Creations</h2>
        </div>
        
        <div class="entries-container">
            <% if (userEntries) { %>
                <% for(let i=0; i < userEntries.length; i++) { %>
                    <div class="entry-preview">
                        <a href="/entries/<%=userEntries[i]._id%>">
                            <img src="<%=userEntries[i].img[0]%>" alt="">
                            <div class="entry-preview-info"> 
                                <%=userEntries[i].title%>
                            </div>
                        </a>
                    </div>
                <% } %>
            <% } %>
        </div>

        <% if (owner) { %>
            <!-- favorites section -->
            <div class="user-section-heading">
                <h2 class="display-4 feature-heading">My Favorites</h2>
            </div>
            <div class="entries-container">
                <% if (currentUser && favEntries) { %>
                    <% for(let i=0; i < favEntries.length; i++) { %>
                        <div class="entry-preview">
                            <a href="/entries/<%=favEntries[i]._id%>">
                                <img src="<%=favEntries[i].img[0]%>" alt="">
                                <div class="entry-preview-info">
                                    <%=favEntries[i].title%>
                                </div>
                            </a>
                        </div>
                    <% } %>
                <% } %>
            </div>
        <% } %>
    </div>
    <% include ../partials/script %>
</body>
</html>